fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
python-multipart
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt
alembic
pandas
numpy
scikit-learn
joblib
python-dotenv
httpx
email-validator
